# Copie para .env.local e preencha com os dados do seu projeto Supabase.
# Painel do Supabase > Project Settings > API
VITE_SUPABASE_URL=https://jtkjemkllnfpnfpveadc.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0a2plbWtsbG5mcG5mcHZlYWRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1MzczNTgsImV4cCI6MjEwNDExMzM1OH0.EV9FFTlJ1GbIvxh1LniBDhkisHkb03oyOKRdiC8xSTw

